.menu-item {
    margin-bottom: 14px;

    a {
        display: flex;
        width: 100%;
        padding: 7px;
        justify-content: space-between;
        align-items: center;

        text-decoration: none;
        color: white;

        img {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            border: 1px solid white;
        }
        span.nav-menu-title {
            font-size: 1.5rem;
        }

        &:hover {
            color: white;
        }
    }
    .nav-underline {
        height: 5px;
        width: 6rem;
        background: #284a7e;

        transition: width .4s ease-in-out;
    }

    &:hover {
        .nav-underline {
            width: 100%;
        }
    }
}
