.navbar-container {
    background: #284a7e;

    a {
        display: flex;
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
        div {
            display: inline-block;

            p {
                &.title {
                    margin: 0 7px;
                }
                &.subtitle {
                    margin: 0;
                    font-size: 15px;
                    font-style: italic;
                    color: #56b5e9;
                }
            }
        }
    }
}
