.home-header {
    background-image: url(https://www.w3schools.com/howto/img_parallax.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .home-title {
        height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background: #00000080;
        color: white
    }
}