.section-item-wrapper {
    .section-item-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 21px;

        .title-action {
            display: flex;
        }
    }
    .title-con {
        width: 6rem;

        .section-item-title-br {
            width: 100%;
            height: 4px;
            background: #284a7e;        
        }
    }    
}