.section-item-wrapper {
    .section-item-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 21px;

        .title-action {
            display: flex;
        }
    }
    .section-item-title-br {
        width: 6rem;
        height: 4px;
        background: #284a7e;        
    }
}