.burger-menu-toggler {
    height: 45px;
    width: 45px;

    .ud_menu_icon {
        display: block;
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 45px;
        height: 45px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
        margin-bottom: 21px;
        background-color: transparent;

        &:focus {        
            outline: none;
        }
        span {
            display: block;
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;
            height: 7px;
            background: white;

            transition: background 0s 0.3s;

            &::before,
            &::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 7px;
                background-color: white;
                content: "";

                transition-duration: 0.3s, 0.3s;
                transition-delay: 0.3s, 0s;
            }
            &::before {
                top: -14px;

                transition-property: top, transform;
            }
            &::after {
                bottom: -14px;

                transition-property: bottom, transform;
            }
        }
        &.is-active {
            span {
                background: none;

                &::before,
                &::after {
                    transition-delay: 0s, 0.3s;
                }
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}