.index-wrapper {
    display: flex;
    margin-bottom: 21px;
    flex-direction: row;
    justify-content: center;

    .index {
        width: 30px;
        height: 3px;
        margin: 4px;
        opacity: .5;
        background: white;
        cursor: pointer;

        &:hover, &.active-true {
            opacity: 1;
        }
    }
}

.slider-topics {
    padding-bottom: 21px;

    .topics-prev, .topics-next {
        color: #fff;
        opacity: .5;
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        transition: opacity .15s ease;

        &:hover {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }
    }

    h4 {
        display: inline-block;
        margin-right: 35px;
        opacity: 1;
        text-align: center;
        width: 100%;
        cursor: pointer;

        transition: opacity .6s ease;

        &.active-false {
            opacity: 0.5;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }
    }
}

.slider-prev, .slider-next {
    position: relative;

    .container {
        position: absolute;
        min-height: 400px;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        border: 0;
        opacity: .20;
        cursor: pointer;
        transition: opacity .15s ease;

        &:hover {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: .9;
        }
    }
}

.slider-next {

    .container {
        right: 0;
    }
}

.slider {
    padding-top: 21px;
}